.b{
    display: block;
    background-color: rgb(228, 56, 84);
    padding: 50px;
}
body{
    background-color: pink;
}
.divc{
    background-color: white;
    width: 1300px;
    display: inline-block;
    height: 225px;

}
.divi{
    background-color:palevioletred;
    display: inline-block;
    width: 250px;
    height: 150px;
    margin: 30px;
}
.container {
    width: 400px;
    margin: 0 auto;
    background-color:rgb(228, 56, 84);
    margin: 20px;
    padding: 30px;
}

.form-wrapper {
    border: 1px solid black;
    padding: 30px;
}
.card-e {
    display: flex;
    flex-direction: column;
}
footer {
    display: flex;
    justify-content: space-around;
    background-color:lightgreen;
}