h1 {
    color: #FF8400;
}
body {
    height: 100%;
}
.card-e , .flex , .card-f{
    display: flex;
}
.flex.container {
    height: 55vh;
    align-items: center;
    padding: 20pt;
}
.card-e , .card-f{
    flex-direction: column;
}
footer {
    display: flex;
    justify-content: space-around;
    background-color: #CBFFA9;
}
button {
    background-color: #FF9B9B;
    border: none;
}
.navi , h1 {
    text-align: center;
}
.navi {
    align-items: center;
    display: block;
    background-color: #FF9B9B;
    padding: 10px;
    padding-inline-end: 10px;
}
button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.navi li{
    display: inline;
    padding: 10px;
}
.flex {
    align-content: center;
    justify-content: center;
}
.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0pt;
}
div.grid.container {
    width: 80%;
}
.itemg {
    grid-column: span 2;
}
/* services */
.img {
    height: 270px;
}
.card-f {
    display: flex;
    background-color: #FFD6A5;
    border: 3px solid black;
    border-radius: 10pt;
    text-align: center;
    height: 350px;
    width: 300px;
}
.img:hover{
    height: 350px;
}
.space-around {
    align-content: space-around;
}